.chat-box {
  background: black;
  color: white;
  width: 100%;
  height: $box-height;
  border-top: 4px solid $grey-400;
  border-left: 4px solid $grey-400;
  border-right: 4px solid $grey-400;
  overflow-y: scroll;
  position: relative;
  padding: 10px;

  p {
    margin: 0 0 15px;
  }

  span {
    color: yellow;
  }

  .narration {
    color: rgb(0, 255, 0);
  }

  .spacer {
    height: 100px;
    width: 100%;
  }

  + input {
    border: 4px solid $grey-400;
    caret-color: white;
    background-color: black;
    color: white;
    padding: 10px;
    height: $input-height;
    width: 100%;
  }
}
