.lobby {
  background: black;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  padding: $padding-page;

  .container {
    display: flex;
  }
}

.logo {
  font-size: 180px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.start,
.join {
  width: 50%;
  padding: $padding-page;

  border: 1px solid white;
}

.start {
  .option {
    border: 1px solid white;
    padding: 10px;
  }

  input {
    display: inline-block;
  }
}

.join {
  .error {
    display: none;
    color: red;

    &.show {
      display: block;
    }
  }

  .enter {
    border: 1px solid red;
    padding: 10px;
  }
}
