.lobby {
  background: black;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  padding: $padding-page;

  .container {
    display: flex;
  }
}

.logo {
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.choice {
  background: green;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;

  &:hover {
    background: red;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.start,
.join {
  position: relative;
  width: 50%;
  height: 100%;
  background: brown;
}

.start {
  .option {
    padding: 10px;
    width: 100%;
    height: 50%;

    &:hover {
      background: blue;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.join {
  .error {
    display: none;
    color: red;

    &.show {
      display: block;
    }
  }
}

.enter {
  border-radius: 50%;
  height: 300px;
  padding: 10px;
  width: 300px;

  &.start {
    display: block;

    &.hide {
      display: none;
    }
  }
}
