@import './variables';
@import './lobby';
@import './game';
@import './header';
@import './board';
@import './chat';

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
