@import './variables';
@import './lobby';
@import './game';
@import './header';
@import './board';
@import './chat';

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  cursor: url('../assets/cursor_temp.png') 15 5, pointer !important;

  &:focus {
    outline: none;
  }
}

body {
  overflow: hidden;
}

button {
  border: none;
  outline: none;
}

.screen-alert {
  background: red;
  color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  display: none;

  @media screen and (max-width: 1279px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
