$grey: #ccc;

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

.game {
  width: 100%;
  min-height: 100vh;
}

.board {
  padding: 30px;
  width: 50%;
  background: beige;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    width: 40px;
    font-size: 14px;
  }
}

.clue,
.guess {
  flex-grow: 1;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  background: white;
  border-radius: 50%;
}

.clue {
  border: 1px solid black;
}

.guess {
  border: 1px solid red;
}

.code {
  display: flex;
  border: 1px solid black;
  padding: 30px;
}

.game {
  display: flex;
  height: 100vh;
  background: $grey;
}

.control {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  min-height: 100vh;
  padding: 30px;
  justify-content: space-between;

  .chat-box {
    width: 100%;
    height: 50vh;
    max-height: 50vh;
    border: 1px solid black;
    overflow-y: scroll;
    position: relative;

    .spacer {
      height: 100px;
      width: 100%;
    }
  }

  input {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
  }

  .option-box {
    width: 100%;
    border: 1px solid black;
  }
}

.lobby {
  background: black;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  padding: 50px;
}

.logo {
  font-size: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.start,
.join {
  width: 50%;
}

.error {
  display: none;
  color: red;
}

.error.show {
  display: block;
}
