.game {
  width: 100%;
}

.board {
  padding: 20px;
  width: 50%;
  background: beige;
}

.row {
  display: flex;
}

.clue {
  border: 1px solid black;
  padding: 10px;
}

.guess {
  border: 1px solid red;
  padding: 10px;
  background: white;
  border-radius: 50%;
}

.code {
  display: flex;
  border: 1px solid black;
  padding: 30px;
}

.chat-box {
  width: 100%;
  border: 1px solid black;
}

.option-box {
  width: 100%;
  border: 1px solid black;
}

.game {
  display: flex;
}

.control {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.lobby {
  background: black;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  padding: 50px;
}

.logo {
  font-size: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.start,
.join {
  width: 50%;
}

.error {
  display: none;
  color: red;
}

.error.show {
  display: block;
}
